## Observations and Insights

## Dependencies and starter code

In [53]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata = "Resources/Mouse_metadata.csv"
study_results = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
combined_data = study_results.merge(mouse_metadata, on='Mouse ID', how='left')
combined_data

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

## Summary statistics

In [73]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

#Group the data by drug regimen
drug_groups = combined_data.groupby('Drug Regimen')

#Store the tumor volume column as a variable
tumor_volume = drug_groups['Tumor Volume (mm3)']

#Calculate the mean tumor volume for each drug treatment
tumor_vol_mean = tumor_volume.mean()
tumor_vol_mean

#Calculate the median tumor volume for each drug treatment
tumor_vol_median = tumor_volume.median()
tumor_vol_median

#Calculate the variance in tumor volume for each drug treatment
tumor_vol_var = tumor_volume.var(ddof=0)
tumor_vol_var

#Calculate the standard devation for tumor volume for each treatment
tumor_vol_stdev = tumor_volume.std(ddof=0)
tumor_vol_stdev

#Calculate the standard error of the mean for tumor volume for each treatment
tumor_vol_sem = tumor_volume.sem(ddof=0)
tumor_vol_sem

summary_stat_table = pd.DataFrame({
    'Mean Tumor Volume': tumor_vol_mean,
    'Median Tumor Volume': tumor_vol_median,
    'Variance': tumor_vol_var,
    'Standard Deviation': tumor_vol_stdev,
    'Standard Error of the Mean': tumor_vol_sem
})
summary_stat_table

,Mean Tumor Volume,Median Tumor Volume,Variance,Standard Deviation,Standard Error of the Mean
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.839296,4.983904,0.328629
Ceftamin,52.591172,51.776157,39.069446,6.250556,0.468499
Infubinol,52.884795,51.820584,42.886388,6.548770,0.490851
Ketapril,55.235638,53.698743,68.188930,8.257659,0.602252
Naftisol,54.331565,52.509285,65.817708,8.112811,0.594860
Placebo,54.033581,52.288934,60.830138,7.799368,0.579722
Propriva,52.322552,50.854632,42.088020,6.487528,0.511289
Ramicane,40.216745,40.673236,23.383692,4.835669,0.320250
Stelasyn,54.233149,52.431737,59.122106,7.689090,0.571526
Zoniferol,53.236507,51.818479,48.266689,6.947423,0.514977

## Bar plots

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen